.container {
  width: 100%;
  height: 100%;
  padding: 20px 10%;
}

.subtitle {
  font-size: 32px;
  color: black;
  font-family: 'Bruno';
}

.productsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
